main{
    width: 85%;
    margin-left:15%;
    background-color: lightyellow;
    border-left: 1px solid black;
    font-size:1.3em;
    padding: 0 10px;
}

aside{
    width:15%;
    float: left;
    border-right: 1px solid black;
    font-size:1.3em;
    background-color: lightgrey;
}
ul{
    list-style-type:square;
}
img{
}
.bild{
    width: 100%;
    border-radius: 47%;
}